@page "/success"
@model GlobalAzureSpain2023.Demo.ApimMonetization.Web.Pages.PaymentSucceededModel
@{
    ViewData["Title"] = "Payment Succeeded";
}

<h1>Subscription payment accepted</h1>
<p>Your subscription will shortly be activated.</p>
<p><a href="@Model.DeveloperPortalUrl">Back to Developer Portal</a></p>