@page
@model GlobalAzureSpain2023.Demo.ApimMonetization.Web.Pages.UnsubscribeModel
@{
    ViewData["Title"] = "Unsubscribe";
}

<h1>Subscription cancelled.</h1>
<p><a href="@Model.DeveloperPortalUrl">Back to Developer Portal</a></p>
